@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #323232;
  color: white;
  text-align: center;
}

a {
  font-size: 30px;
  margin-right: 40px;
  color: tomato;
  font-family: 'Creepster', sans-serif;
  text-decoration: none;
}

h1 {
  font-family: 'Nosifer', sans-serif;
}

nav {
  padding: 20px;
}

.counter {
  color: tomato;
  font-size: 40px;
  font-family: 'Creepster';
}

img {
  cursor: crosshair;
}

input {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

hr {
  margin-bottom: 50px;
}
